html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

div,main,article{
    display: block;
}


span,p,ul,ol,li,img{

	padding: 0;
	margin: 0;
}

body {
    margin: 0;
    font: 12px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';
    cursor:url(/image/cursor_normal.png),auto;
    line-height: 20px;
}

a {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover{
    outline: 0;
    text-decoration: none;
    cursor:url(/image/cursor_jump.png),auto;
}
a:focus {
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
}

.topbar {
    margin: 0 auto;
    height: 46px;
    background: #333;
    background: rgba(15, 15, 15, 0.35);
    font-size: 18px;
    width: 100%;
    min-width: 1100px;
}

.globalnav {
    width: 1100px;
    margin: 0 auto;
}

.topmainbar {
    width: 100%;
    min-width: 1100px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.nav-head {width: 100%;margin: 0 auto;font-size: 14px;}
.nav-head > .nav-container{width: 1200px;margin: auto;height: 46px;}
.nav-head > .nav-container > a{display: block;float: left;margin-right: 7px;}
.nav-head li {
    border: 1px transparent solid;
    float: left;
    padding: 0 15px;
    line-height: 46px;
    color: #ccc;
}

.nav-head a > li:hover,
.nav-head a > li:focus {
    background: #333;
    background: -moz-linear-gradient(top, #333 0%, #444 41%);
    background: -webkit-linear-gradient(top, #333 0%, #444 41%);
    background: -o-linear-gradient(top, #333 0%, #444 41%);
    background: -ms-linear-gradient(top, #333 0%, #444 41%);
    background: linear-gradient(top, #333 0%, #444 41%);
    color: #fff !important;
}

.nav-head > .nav-container > a.nav-logo{
	width:140px;
    padding: 10px 10px 0 10px;
}
.nav-head > .nav-container > a.nav-logo > img{
	display: block;width: 100%;
}
.nav-head .nav-item-box{float: left;position: relative;margin-right: 7px;cursor: pointer;}
.nav-head .nav-item-box li{padding: 0 15px;}
.nav-head .nav-item-list{
	display: none;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 1;
	width: 100%;
	background: #1b1b1b;
}


#search-box {
    position: absolute;
    top: 55px;
    width: 100%;
}

