
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -0.2em 0 0 -0.2em;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.1);
    border-right: 0.3em solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.1);
    border-left: 0.3em solid #555;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation: loader 300ms infinite linear;
    -webkit-animation: loader 300ms infinite linear;
    animation: loader 300ms infinite linear;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 0;
    overflow: hidden;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.is-loading {
    overflow: hidden;
}

.is-loading .curtain {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    z-index: 99;
}

.is-loading .loader {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

/* loading */



*{
    cursor:url(/image/cursor_normal.png),auto;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

div,main,article{
    display: block;
}

.padding-content{
    padding:40px;
}

header.entry-header{
    margin-bottom:16px;
}

.entry-meta{
    color:#9e9e9e;
    font-size: 12px;
}

.list-inline{
    padding-left:0;
    margin-left:-5px;
    list-style: none;
}

.entry-content{
    text-align: left;
}

span,p,img{
	padding: 0;
	margin: 0;
}

ul,ol{
    margin:0;
    padding-left: 20px;
}

li{
    display:list-item;
    text-align: -webkit-match-parent;
}

body {
    margin: 0;
    font: 12px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';
    line-height: 20px;
}

a {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover{
    outline: 0;
    text-decoration: none;
    cursor:url(/image/cursor_jump.png),auto;
}
a:focus {
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
    cursor:url(/image/cursor_jump.png),auto;
}

.topbar {
    margin: 0 auto;
    height: 46px;
    background: #333;
    background: rgba(15, 15, 15, 0.35);
    font-size: 18px;
    width: 100%;
    min-width: 1100px;
}

.globalnav {
    width: 1100px;
    margin: 0 auto;
}

.topmainbar {
    width: 100%;
    min-width: 1100px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
    /* nav */
.nav-head {width: 100%;margin: 0 auto;font-size: 14px;}
.nav-head > .nav-container{width: 1200px;margin: auto;height: 46px;}
.nav-head > .nav-container > a{display: block;float: left;margin-right: 7px;}
.nav-head li {
    border: 1px transparent solid;
    float: left;
    padding: 0 15px;
    line-height: 46px;
    color: #ccc;
}

.nav-head a > li:hover,
.nav-head a > li:focus {
    background: #333;
    background: -moz-linear-gradient(top, #333 0%, #444 41%);
    background: -webkit-linear-gradient(top, #333 0%, #444 41%);
    background: -o-linear-gradient(top, #333 0%, #444 41%);
    background: -ms-linear-gradient(top, #333 0%, #444 41%);
    background: linear-gradient(top, #333 0%, #444 41%);
    color: #fff !important;
}

.nav-head > .nav-container > a.nav-logo{
	width:140px;
    padding: 10px 10px 0 10px;
}
.nav-head > .nav-container > a.nav-logo > img{
	display: block;width: 100%;
}
.nav-head .nav-item-box{float: left;position: relative;margin-right: 7px;cursor: pointer;}
.nav-head .nav-item-box li{padding: 0 15px;}
.nav-head .nav-item-list{
	display: none;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 1;
	width: 100%;
	background: #1b1b1b;
}

/* list*/

.list-inline li {
    padding-right: 4px;
    padding-left: 4px;
}


#search-box {
    position: absolute;
    top: 55px;
    width: 100%;
}

#top-nav .navbar-right .account{
    display: table-cell;
    vertical-align: middle;
}

.not-login{
    float: right;
}

#top-nav .nav-right .login{
    border-color:#913232;
}