

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

abbr[title] {
    border-bottom: 1px dotted;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


body,
button,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    line-height: 23px;
    background: #f1f1f1;
    color:#2d2d2d;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0 0 15px;
    font-weight: 700;
    color: #000;
}

*,
*:before,
*:after {
}

ul,
ol {
    margin: 0;
    padding-left: 20px;
}

.padding-content{
    padding: 40px;
}

a {
    color: #23b2dd;
}

.hentry {
    margin: 0 0 40px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

header.entry-header{
    margin-bottom: 16px;
}


.entry-meta{
    color: #9e9e9e;
    font-size: 12px;
}

.entry-meta a{
    color: #9e9e9e;
    margin-left: 2px;
}
.list-inline li {
    padding-right: 4px;
    padding-left: 4px;
}

article header.entry-header h1.entry-title{
    margin: 0;
    padding: 0;
}

#searchform input#s{
    padding: 10px 13px;
    border-radius: 0;
    width: 100%;
}
#searchform input#s:focus{
    border: 1px solid #ddd;
    outline: none;
}

